<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access to reach the backend server -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Declare this is a Leanback (TV) app -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <!-- Touch is not required (TV uses D-pad) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:label="MyStreamTV"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme">

        <!-- Main activity: works on both TV and phone -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Standard phone/tablet launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- TV launcher (Google TV / Android TV home screen) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Required for Android 12+ (API 31+) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
    </queries>
</manifest>
